# Based on Rob Ashton's dotfiles on GitHub
*
!.vim
!.vim/
!.vim/*/
!.vim/*/*
!.vim/*/*/*
!.vim/*/*/*/*
!.vim/*/*/*/*/*

!.vimrc
!.gvimrc
!.gitignore
!.gitattributes
!get-vim-plugins.cmd
!init.js

# Mac Crap
.DS_Store

# vim files
*.*~
*.swp
